extends templates/template.jade
//- append aumenta contenido sobre el block config no lo remplaza


append config 
    -titulo = "Nosotros"
    -paginaActual = "nosotros"

block main
    h1 Nosotros
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta ducimus itaque facilis voluptas rem eaque facere mollitia sequi recusandae repellendus, hic sed? Doloribus non assumenda consequatur, architecto vero ea?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugiat quam dignissimos, veritatis obcaecati natus doloremque, provident illum expedita culpa voluptates earum porro numquam, explicabo facilis velit? Voluptatem, dolorum nisi?

block aside
    h2 Siguenos en Facebook
    a(href="http://facebook.com" target="_blank") Seguir
