a(href="http://escueladigital.pe") hola
img(src="") 
input(type="text")
div
    select
        optgroup
            option(value="") 1
            option(value="") 2
        option(value="") 3
        option(value="") 4
        option(value="") 5
        option(value="") 6
p: span En la misma fila

p. 
    ipsum dolor sit amet consectetur adipisicing elit. Minima quis dolorum sit corrupti sapiente necessitatibus nulla perferendis obcaecati deserunt! Nam molestias architecto iste neque aut amet fuga, doloremque quibusdam beatae.
p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima blanditiis velit dolorum commodi inventore a quibusdam distinctio sint aspernatur dolore. Repellendus magni voluptatem officiis sit ea odio eveniet temporibus cumque.

p 
    | Lorem ipsum dolor
    span 
        a(href="") amet consectetur adipisicing elit. Quibusdam, pariatur nemo reiciendis alias optio, nulla ducimus, tempora quisquam corporis quos officia 
    | voluptate accusantium harum quidem nobis! Veritatis, reprehenderit! Cumque, eum.