extends template.jade
block header
    h1 Nosotros
block main
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus mollitia repudiandae est nobis sit molestias sint aut tempore? Excepturi asperiores iste hic suscipit nesciunt molestias at maxime labore. Sint?
block footer
    p   Tecnologic World